.demo {
}

.demo .game,
.demo .game canvas,
.demo .game .screen {
  height: 240px;
}

.demo .game .screen {
  background: linear-gradient(to bottom,
    #19405c,
    #4484b2 2%,
    #9248a8 75%,
    #252a33 75%,
    #545f72 85%,
    #252a33 85%);
}

.demo .screen .log {
  color: #fff;
  font-family: 'Consolas', monospace;
  font-size: 24px;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
}

.demo canvas {
  width: 100%;
}

.demo .input {
  display: flex;
  align-items: center;
}

.demo .input .skip {
  flex: 1 1 auto;
}

.demo .input .skip button {
  border: 0;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 96px;
  margin: 1em;
  padding: 10px;
}

.demo .input .skip.prev {
  order: -1;
  text-align: right;
}

.demo .input .skip.next {
  order: 1;
  text-align: left;
}

.demo .input .overlay {
  background: url('./images/htc.png') no-repeat;
  background-size: contain;
  flex: 0 0 768px;
    order: 0;
  height: 382px;
  width: 768px;
  position: relative;
  zoom: .8;
}

.demo .input .controllers {
  perspective: 1000px;
  position: relative;
}

.demo .input .controllers .controller {
  position: absolute;
  transition: all .5s ease;;
}

.demo .input .controllers .controller.hidden {
  opacity: 0;
  transform: rotateX(90deg) scale(.2);
}

.demo .input .controllers .controller .link {
  text-align: center;
}

.demo .input .controllers .controller iframe {
  border: 0;
  padding: 22px 0 0 79px;
}
