.demo {


}

.demo .game,
.demo .game canvas,
.demo .game .screen {
  height: 240px;
}

.demo .game .screen {
  position: relative;
}

.demo .game .screen {
  position: absolute;
    left: 0;
    right: 0;
}

.demo .screen .log {
  font-family: 'Consolas', monospace;
  font-size: 24px;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
}

.demo canvas {
  width: 100%;
}

.demo .input {
  display: flex;
  align-items: center;
}

.demo .input .skip {
  flex: 1 1 auto;
}

.demo .input .skip.prev {
  order: -1;
}

.demo .input .skip.next {
  order: 1;
}

.demo .input .overlay {
  background: url('./images/htc.png') no-repeat;
  background-size: contain;
  flex: 0 0 768px;
    order: 0;
  height: 382px;
  width: 768px;
  position: relative;
  zoom: .8;
}

.demo .input .controllers {
  perspective: 1000px;
  position: relative;
}

.demo .input .controllers .controller {
  position: absolute;
  transition: all .5s ease;;
}

.demo .input .controllers .controller.hidden {
  opacity: 0;
  transform: rotateX(90deg) scale(.2);
}

.demo .input .controllers .controller .link {
  text-align: center;
}

.demo .input .controllers .controller iframe {
  border: 0;
  padding: 22px 0 0 79px;
}
