.how code {
  font-size: 11px;
}

.demo .input .overlay {
    flex-basis: 100%;
}

.demo .screen .log {
  font-size: 16px;
}

.demo .input .skip {
  flex: 0 1 auto;
}

.demo .input .skip.prev {
  order: 2;
}

.demo .input .skip.next {
  order: 3;
}

@media(max-width: 480px) {
  .demo .input .overlay {
    zoom: 0.6;
  }
}

@media(max-width: 320px) {
  .demo .input .overlay {
    zoom: 0.4;
  }
}
