html, body {
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  background: #252a33;
  color: #9ea7b0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
}

button:focus {
  outline: 0;
}

section {
  overflow: hidden;
}

.headline {
  background: #252a33;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 200;
  letter-spacing: 0.1em;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: 100;
}

h3 {
  font-size: 1.3em;
  font-weight: 200;
}

.get-started {
  margin: 0 auto;
  max-width: 900px;
}

.get-started .steps {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.get-started .step {
  color: #7e91a6;
  padding: 1em;
  margin: 2em 1em 1em 1em;

  position: relative;
}

.get-started .step h3 {
  color: #c0cbd6;
  letter-spacing: .1em;
  position: absolute;
    top: -2.5em;
  text-shadow: 0 5px 8px #000;
}

.get-started .step {
  background: linear-gradient(to bottom,
    #efefef,
    #eaeaea 100%);
  box-shadow: 0px 5px 20px 0px #000,
              inset 0 0 20px #fff;
}

.get-started .step code {
  color: #286a80;
  display: block;
  margin: .5em;
  white-space: pre-wrap;
}

footer {
  margin: 2em;
  text-align: center;
  text-shadow: 0 0 10px #000;
}