html, body {
}

a {
  color: #de4d5f;
  text-decoration: none;
}

body {
  background: #ffffff;
  color: #767676;
  font-family: 'Jura', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  box-sizing: border-box;
  overflow: hidden;
}

button:focus {
  outline: 0;
}

.headline {
  padding: 40px;
  text-align: center;
}

.headline img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: 0;
}

h2 {
  color: #de4d5f;
  font-size: 32px;
  text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

h3 {
  color: #000;
  font-size: 22px;
}

p {
  text-align: justify;
}

.how ul,
.demos ul,
.explanation ul,
.get-started ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    max-width: 1024px;
}

.how li,
.demos li,
.explanation li,
.get-started li {
  box-sizing: border-box;
  flex: 1 1 50%;
  min-width: 280px;
  padding: 1em;
}

.how li {
  flex: 1 1 33%;
  text-align: center;
}

.how li img {
  max-height: 200px;
  max-width: 100%;
}

.demos li {
  flex: 1 1 0;
  text-align: center;
}

.how h2,
.get-started h2,
.demos h2,
.demo h2 {
  text-align: center;
}

.explanation {
  background: linear-gradient(to bottom, #282020, #6a252d);
  color: #eaeaea;
}
  .explanation .controllers {
    height: 280px;
    margin: auto;
    position: relative;
    width: 400px;
  }
  .explanation .android {
    background: url('/images/android.svg');
    background-size: cover;
    box-sizing: border-box;
    height: 168px;
    position: absolute;
    padding: 9px 25px 0px 30px;
    width: 320px;
  }
    .explanation .android:nth-child(1) {
      transform: rotate(15deg) translateY(100px);
    }
    .explanation .android:nth-child(2) {
      transform: rotate(15deg) translateX(90px);
    }
  .explanation .android img {
    width: 100%;
  }

.get-started {
}
  .get-started h3 {
    margin-top: 0;
  }

  .get-started img {
    display: block;
    margin: 10px auto;
    width: 90%;
  }

  .get-started code {
    background: #de4d5f;
    color: white;
    display: block;
    margin: 0 -.8em;
    padding: .4em .8em;
  }

.demo {
  align-items: center;
  display: flex;
  flex-flow: column;
}

  .demo .game {
    align-self: stretch;
  }

  .demo > p {
    margin: 1em;
    max-width: 500px;
  }

  .demo .input {
    margin-top: -20px;
  }

  .demo .input .overlay {
    zoom: .8;
  }

  .demo .controller-url {
    align-self: stretch;
    background: #de4d5f;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: .6em 1em;
    text-align: center;
  }

  .demo .controller-url .link a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }

footer {
  margin: 2em;
  text-align: center;
}
