html, body {
}

a {
  color: #de4d5f;
  font-weight: bold;
  text-decoration: none;
}

body {
  background: #ffffff;
  color: #767676;
  font-family: 'Jura', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.4;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

button:focus {
  outline: 0;
}

.topline {
  background: #000;
  color: #aaa;
}

.topline img {
  height: 1.5em;
}

.topline a:hover {
  color: #fff;
}

.topline ul {
  display: flex;
}

.topline li {
  margin: 0 .8em;
}

.topline li > a {
  align-items: center;
  display: flex;
}

.headline {
  padding: 40px;
  text-align: center;
}

.headline img {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: 700;
  letter-spacing: 0;
}

h2 {
  color: #de4d5f;
  font-size: 32px;
}

h3 {
  background: #000;
  color: #de4c5e;
  font-size: 22px;
  padding: 0.3em 1em 0.4em;
}

p {
  text-align: justify;
}

section > p {
  margin: 1em;
  max-width: 500px;
}

.how ul,
.demos ul,
.explanation ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1024px;
}

.how li,
.demos li,
.explanation li {
  box-sizing: border-box;
  flex: 1 1 auto;
  min-width: 280px;
  max-width: 500px;
  padding: 1em;
}

.how ul {
  justify-content: center;
}

.how li {
  flex: 1 1 33%;
  text-align: center;
}

@media (max-width: 860px) {
  .how li {
    flex-basis: 100%;
  }
}

.how li img {
  max-height: 130px;
  max-width: 100%;
}

.demos li {
  flex: 1 1 0;
  text-align: center;
}

.explanation {
  background: #de4c5e;
  color: #eaeaea;
  display: block;
}
  .explanation a {
    color: #fff;
  }

  .explanation h2 {
    color: #fff;
  }

  .explanation li {
    padding: 1.5em;
  }

  .explanation .controllers {
    height: 280px;
    margin: auto;
    position: relative;
    width: 400px;
  }
  .explanation .android {
    background: url('/images/android.svg');
    background-size: cover;
    box-sizing: border-box;
    height: 168px;
    position: absolute;
    padding: 9px 25px 0px 30px;
    width: 320px;
  }
    .explanation .android:nth-child(1) {
      transform: rotate(15deg) translateY(100px);
    }
    .explanation .android:nth-child(2) {
      transform: rotate(15deg) translateX(90px);
    }
  .explanation .android img {
    width: 100%;
  }

.get-started {
}

  .get-started ul {
    max-width: 600px;
  }

  .get-started h3 {
    margin-top: 0;
  }

  .get-started li {
    min-width: 280px;
    padding: 1em;
  }

  .get-started img {
    display: block;
    margin: 10px auto;
    width: 90%;
  }

  .get-started li > code {
    background: #de4d5f;
    color: white;
    display: block;
    padding: .4em .8em;
  }

.demo {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.demo {
  display: none;
}

.supported .demo  {
  display: flex;
}

  .demo .game {
    align-self: stretch;
  }

  .demo .input {
    margin-top: -20px;
  }

  .demo .input .overlay {
    zoom: .8;
  }

  .demo .controller-url {
    align-self: stretch;
    background: #de4d5f;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    padding: .6em 1em;
    text-align: center;
  }

  .demo .controller-url .link a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }

footer {
  margin: 2em;
  text-align: center;
}
