<!DOCTYPE html>
<html>
<head>
  <%- include('fragments/head'); %> .
  <title>SNEX - Gamepads for Smartphones</title>
  <link href="/demo.css" rel="stylesheet">
</head>
<body>
  <section class="headline">
    <a href="/">
      <img src="/images/snex-logo.svg" alt="Snex" width="250" height="70"/>
    </a>
    <h2>404</h2>

    <p>
      Are you trying to reach an expired controller?
    </p>
  </section>
</body>
</html>
