<!DOCTYPE html>
<html>
<head>
  <% include fragments/head %>
  <title>SNEX - WebRTC virtual gamepads</title>
  <link href="/demo.css" rel="stylesheet">
  <script src="<%= URL_SNEX_LIB %>"></script>
  <script src="/scripts/space-game.js"></script>
  <script src="/scripts/demo.js"></script>
</head>
<body data-controllers="<%= controllers; %>">
  <section class="topline">
    <ul>
      <li>Quick:</li>
      <li>
        <a href="https://cdn.snex.io/snex.latest.min.js">CDN</a>
      </li>
      <li>/</li>
      <li>
        <a href="https://www.npmjs.com/package/snex"><img src="/images/npm-logo.svg">&nbsp; NPM</a>
      </li>
      <li>/</li>
      <li>
        <a href="https://www.npmjs.com/package/@snex/react-connect"><img src="/images/react-logo.svg"> React</a>
      </li>
    </ul>
  </section>

  <section class="headline">
    <img src="/images/snex-logo.svg" alt="Snex" width="341" height="96"/>
    <h2>Play games on the big screen with a gamepad on your Smartphone</h2>
  </section>

  <a href="https://github.com/snex-io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

  <section class="explanation">
    <ul>
      <li>
        <h2>What is it?</h2>

        <p>
          SNEX provide gamepads that emit events when interacted with. Subscribe to events to control your apps. Events are transmitted using <a href="https://webrtc.org/">WebRTC</a> with very low latency.
        </p>

        <p>
          SNEX is open source and we encourage contributions.<br>
          Please visit us on <a href="https://github.com/snex-io/">GitHub</a>.
        </p>
      </li>

      <li>
        <div class="controllers">
          <div class="android">
            <img src="/controllers/snes.svg" alt="SNES" />
          </div>

          <div class="android">
            <img src="/controllers/nes.svg" alt="NES" />
          </div>
        </div>
      </li>
    </ul>
  </section>


  <section class="how">
    <a name="how-does-it-work"></a>

    <ul>
      <li>
        <h3>Create session</h3>

        <img src="/images/how1.svg">

        <p>
          Create a session using the <a href="https://www.npmjs.com/package/snex">SNEX library</a>.
        </p>
      </li>

      <li>
        <h3>Join session</h3>

        <img src="/images/how2.svg">

        <p>
          Go to a URL to see get a gamepad.
        </p>
      </li>

      <li>
        <h3>Handle events</h3>

        <img src="/images/how3.svg">

        <p>
          Use user events to make things happen!
        </p>
      </li>
    </ul>

  </section>

  <section class="demo">
    <a name="try-it"></a>

    <div class="controller-url">
      Go to <span class="link"></span> to drive a ship!
    </div>

    <div class="game">
      <button id="fullscreen"></button>

      <div class="screen">
        <div class="log"></div>
        <canvas width="320" height="280"></canvas>
      </div>
    </div>

    <div class="input">
      <div class="skip prev">
          <button data-skip="-1">
            <img src="/images/arrow.svg" alt="Previous" />
          </button>
      </div>

      <div class="skip next">
          <button data-skip="1">
            <img src="/images/arrow.svg" alt="Next" />
          </button>
      </div>

      <div class="phone">
        <div class="screen">
          <div class="controllers">
            <template class="controller">
              <div class="controller hidden">
                <div class="window">
                  <iframe src=""></iframe>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
  <section class="support">
    <a href="#support" name="support">
      <h2>Support</h2>
    </a>

    <p>
      SNEX works on Android and iPhone with all browsers supporting <a href="https://webrtc.org/">WebRTC</a>. To see which browsers currently have implemented support for WebRTC, consult <a href="http://iswebrtcreadyyet.com/">this chart</a>.
    </p>
  </section>
  -->

  <!--
  <section class="demos">
    <a href="#demos" name="demos">
      <h2>Demos</h2>
    </a>

    <ul>
      <li>
        <a href="https://snex-io.github.io/demos/tetris/">
          <h3>Tetris</h3>
          <img src="/images/tetris.png" alt="Tetris <3 SNEX" />
        </a>

        <p>Multiplayer side by side Tetris implementation</p>
      </li>

      <li>
        <a href="/demos/diag">
          <h3>Diagnostics</h3>
          <img src="/images/diag.png" alt="Dianositcs" />
        </a>

        <p>Simple implementation to showcase what is being send and received.</p>
      </li>
    </ul>
  </section>
  -->

  <section class="get-started">
    <a href="#get-started" name="get-started">
      <h2>Code it!</h2>
    </a>

    <p>
      Follow the steps below or have a look at our <a href="https://snex-io.github.io/demos/minimal/">Minimal single HTML page implementation</a>. View HTML source code to see how it works.
    </p>

    <ul>
      <li>
        <h3>1) Get library</h3>

        <p>Include it in your page</p>

        <code>
          &lt;script src="https://cdn.snex.io/<wbr>snex.latest.min.js"&gt;&lt;/script&gt;
        </code>

        <p>or install NPM package:</p>

        <code>
          npm install snex
        </code>

        <p>
          Also available as <a href="https://www.npmjs.com/package/@snex/react-connect">React component</a> (<a href="https://youtu.be/xFt6IpxaQ-w">watch video</a>).
        </p>
      </li>
      <li>
        <h3>2) Create Session</h3>

        <p>
          Create a session using <code>snex.createSession()</code> and start listening for connections.
          Each time <code>connection</code> event is emitted it is like a player plugging in a controller.
        </p>

        <code>
          snex.createSession()<br/>
          .then(session => {<br/>
          &nbsp;&nbsp;session.on('connection', remote => {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;console.log('Player joined!');<br/>
          &nbsp;&nbsp;});<br/>
          });<br/>
        </code>

        <p>
          You may also use our URL-shorterner service by running <code>session.createURL()</code>.
        </p>

        <code>
          snex.createSession()<br/>
          .then(session => session.createURL('nes'))<br/>
          .then(link => {<br/>
          &nbsp;&nbsp;// Prints "Go to https://snex.io/XAGE to play!"<br/>
          &nbsp;&nbsp;console.log(`Go to ${link.url} to play!`);<br/>
          });<br/>
        </code>
      </li>

      <li>
        <h3>3) Open URL on smartphone</h3>

        <p>
          Send URL to client device via SMS, chat, email, or just type it into Firefox, Google Chrome or WebRTC compatible browser.
          When the URL is loaded a gamepad will be displayed and the client will connect to your service.
        </p>

        <img src="/images/how2.svg" style="max-width: 600px;" />
      </li>

      <li>
        <h3>4) Handle events</h3>

        <p>
          When a user interacts with gamepad the <code>data</code> event will trigger on the connection.
          The gamepad will send messages in JSON format containing the details of the interaction.
          It's up to you what to do with them. For more information on events see <a href="https://github.com/snex-io/snex-web/tree/master/docs">documentation</a>.
        </p>

        <code>
          session.on('connection', remote => {<br/>
          &nbsp;&nbsp;console.log('Player joined!');<br/>
          &nbsp;&nbsp;remote.on('data', data => {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;if (data.state &amp;&amp; data.key === 'A') {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;player.jump();<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
          &nbsp;&nbsp;});<br/>
          });<br/>
        </code>
        <p>
          For more details <a href="https://github.com/snex-io/snex-web/tree/master/docs">Read our docs</a> or have a look at our <a href="https://github.com/snex-io/snex-tetris/">Tetris Source Code</a>.
        </p>
      </li>
    </ul>
  </section>

  <footer>
    Created by <a href="https://github.com/pomle">Pontus Alexander</a> &amp; <a href="http://www.ethandirks.com">Ethan Dirks</a>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89979098-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
