<!DOCTYPE html>
<html>
<head>
  <% include fragments/head %>
  <title>SNEX - Virtual gamepads</title>
  <link href="/demo.css" rel="stylesheet">
  <script src="https://cdn.snex.io/snex.latest.min.js"></script>
  <script src="/scripts/space-game.js"></script>
  <script src="/scripts/demo.js"></script>
</head>
<body data-controllers="<%= controllers; %>">
  <section class="headline">
    <img src="/images/snex-logo.svg" alt="Snex" width="341" height="96"/>
    <h2>Play games on the big screen with a gamepad on your Smartphone</h2>
  </section>

  <section class="explanation">
    <ul>
      <li>
        <h2>What is it?</h2>

        <p>
          We provide gamepads for smartphones that emit events when interacted with. Developers can subscribe to events to control their games. Events are transmitted using <a href="http://peerjs.com/">Peer.js</a> via <a href="https://webrtc.org/">WebRTC</a>.
        </p>

        <p>
          SNEX is open source and we encourage contributions.<br>
          Please visit us on <a href="https://github.com/snex-io/">GitHub</a>.
        </p>
      </li>

      <li>
        <div class="controllers">
          <div class="android">
            <img src="/controllers/snes.svg" alt="SNES" />
          </div>

          <div class="android">
            <img src="/controllers/nes.svg" alt="NES" />
          </div>
        </div>
      </li>
    </ul>
  </section>


  <section class="how">
    <a href="#how-does-it-work" name="how-does-it-work">
      <h2>How it works</h2>
    </a>

    <ul>
      <li>
        <h3>Create Session</h3>

        <img src="/images/how1.svg">

        <p>
          First a developer must create a unique session. This session is represented by a URL which is associated with the type of gamepad desired and where to send signals once a user connects.
        </p>
      </li>

      <li>
        <h3>Join Session</h3>

        <img src="/images/how2.svg">

        <p>
          By going to the URL, a device joins a session and will start sending events based on human interaction with the gamepads.
        </p>
      </li>

      <li>
        <h3>Handle events</h3>

        <img src="/images/how3.svg">

        <p>
          When a device joins a session the developer will receive an event, followed by events for every user interaction. The developer can process the events to control their applications.
        </p>
      </li>
    </ul>

  </section>

  <section class="demo">
    <a href="#try-it" name="try-it">
      <h2>Try it!</h2>
    </a>

    <p>
      Use the input below to control the game or open the URL on your Android.
      You can also try our multiplayer <a href="http://demos.snex.io/tetris">Tetris + SNEX</a> implementation.
    </p>

    <div class="controller-url">
      Go to <span class="link"></span> in your smartphone.
    </div>

    <div class="game">
      <button id="fullscreen"></button>

      <div class="screen">
        <div class="log"></div>
        <canvas width="320" height="240"></canvas>
      </div>
    </div>

    <div class="input">
      <div class="skip prev">
          <button data-skip="-1">
            <img src="/images/arrow.svg" alt="Previous" />
          </button>
      </div>

      <div class="skip next">
          <button data-skip="1">
            <img src="/images/arrow.svg" alt="Next" />
          </button>
      </div>

      <div class="phone">
        <div class="screen">
          <div class="controllers">
            <template class="controller">
              <div class="controller hidden">
                <div class="window">
                  <iframe src=""></iframe>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="support">
    <a href="#support" name="support">
      <h2>Support</h2>
    </a>

    <p>
      SNEX currently support browsers supporting <a href="https://webrtc.org/">WebRTC</a>. To see which browsers currently have implemented support for WebRTC, consult <a href="http://iswebrtcreadyyet.com/">this chart</a>. Support for WebRTC has been <a href="https://www.google.com/search?q=safari%20webrtc%20support">officially announced</a> to be under development for iOS/Safari. Once release, SNEX will support iOS.
    </p>
  </section>

  <!--
  <section class="demos">
    <a href="#demos" name="demos">
      <h2>Demos</h2>
    </a>

    <ul>
      <li>
        <a href="/demos/tetris">
          <h3>Tetris</h3>
          <img src="/images/tetris.png" alt="Tetris <3 SNEX" />
        </a>

        <p>Multiplayer side by side Tetris implementation</p>
      </li>

      <li>
        <a href="/demos/diag">
          <h3>Diagnostics</h3>
          <img src="/images/diag.png" alt="Dianositcs" />
        </a>

        <p>Simple implementation to showcase what is being send and received.</p>
      </li>
    </ul>
  </section>
  -->

  <section class="get-started">
    <a href="#get-started" name="get-started">
      <h2>Get started</h2>
    </a>

    <p>
      Follow the steps below or have a look at our <a href="http://demos.snex.io/minimal/">Minimal single HTML page implementation</a>. View HTML source code to see how it works.
    </p>

    <ul>
      <li>
        <h3>1) Include <a href="http://cdn.snex.io/snex.latest.min.js">snex.js</a></h3>

        <code>
          <%= `<script src="http://cdn.snex.io/snex.latest.min.js"></script>` %>
        </code>

        <p>
          Library also available as <a href="https://www.npmjs.com/package/snex">NPM package</a>.
        </p>
      </li>
      <li>
        <h3>2) Create Session</h3>

        <p>
          Create a session using <code>snex.createSession()</code> and start listening for connections.
          Each time <code>connection</code> event is emitted it is like a player plugging in a controller.
        </p>

        <code>
          snex.createSession()<br/>
          .then(session => {<br/>
          &nbsp;&nbsp;session.on('connection', conn => {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;console.log('Player joined!');<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;conn.on('data', data => {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log('Player signal', data);<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;});<br/>
          &nbsp;&nbsp;});<br/>
          });<br/>
        </code>

        <p>
          You may also use our URL-shorterner service by running <code>session.createURL()</code>.
        </p>

        <code>
          snex.createSession()<br/>
          .then(session => session.createURL('nes'))<br/>
          .then(link => {<br/>
          &nbsp;&nbsp;// Prints "Go to http://snex.io/XAGE to play!"<br/>
          &nbsp;&nbsp;console.log(`Go to ${link.url} to play!`);<br/>
          });<br/>
        </code>
      </li>

      <li>
        <h3>3) Open URL on smartphone</h3>

        <p>
          Send URL to client device via SMS, chat, email, or just type it into Firefox, Google Chrome or WebRTC compatible browser.
          When the URL is loaded a gamepad will be displayed and the client will connect to your service.
        </p>

        <img src="/images/how2.svg"/>
      </li>

      <li>
        <h3>4) Handle events</h3>

        <p>
          When a user interacts with gamepad the <code>data</code> event will trigger on the connection.
          The gamepad will send messages in JSON format containing the details of the interaction.
          It's up to you what to do with them. For more information on events see <a href="https://github.com/snex-io/snex-web/tree/master/docs/events">events docs</a>.
        </p>

        <code>
          snex.createSession()<br/>
          .then(session => {<br/>
          &nbsp;&nbsp;session.on('connection', conn => {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;console.log('Player joined!');<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;conn.on('data', data => {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (data.state &amp;&amp; data.key === 'A') {<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;player.jump();<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>
          &nbsp;&nbsp;&nbsp;&nbsp;});<br/>
          &nbsp;&nbsp;});<br/>
          });<br/>
        </code>
        <p>
          For more details <a href="https://github.com/snex-io/snex-web/tree/master/docs">Read our docs</a> or have a look at our <a href="https://github.com/snex-io/snex-tetris/">Tetris Source Code</a>.
        </p>
      </li>
    </ul>
  </section>

  <footer>
    Created by <a href="https://github.com/pomle">Pontus Alexander</a> &amp; <a href="http://www.ethandirks.com">Ethan Dirks</a>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89979098-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
