<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gamepad Remotes for Android</title>
  <link href="/style.css" rel="stylesheet" />
  <link href="/demo.css" rel="stylesheet" />

  <script src="/scripts/demo-game.js"></script>
  <script src="/scripts/peer.min.js"></script>
</head>
<body
  data-api-key="<%= api_key; %>"
  data-controllers="<%= controllers; %>"
>
  <section class="headline">
    <h1>Gamepads for Android</h1>
    <h3>Control your games with a gamepad on your smart phone.</h3>
  </section>

  <section class="how-it-works">
    <h2>How it works</h2>

    <h3>Start Gamepad on your device</h3>

    <h3>Play your game with it</h3>

  </section>

  <section class="demo">
    <h2>Try it!</h2>

    <div class="game">
      <div class="screen">
        <div class="log"></div>
        <canvas width="320" height="240"></canvas>
      </div>
    </div>

    <div class="input">
      <div class="overlay">
        <div class="controllers">
          <template class="controller">
            <div class="controller">
              <div class="window">
                <div class="overlay">
                <iframe src="" width="604" height="340"></iframe>
              </div>

              <div class="link">
                <a href=""></a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </section>

  <section class="get-started">
    <h2>Get started</h2>

    <h3>Include Peer.js script</h3>
    <pre>
      <%= '<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>' %>
    </pre>

    <h3>Open channel</h3>
    <pre>
      var peer = new Peer({key: 'lwjd5qra8257b9'});
      peer.on('open', function(id) {
        var url = 'http://gamepad.pomle.com/nes/?key=lwjd5qra8257b9&amp;id=' + id;
        console.info('Go to url', url);
      });
    </pre>

    <h3>Receive events</h3>
    <pre>
      peer.on('connection', function(conn) {
        conn.on('data', function(data) {
          if (data.key === 'A' && data.state === 'keydown') {
            game.character.jump();
          }
        });
      });
    </pre>

  </section>
</body>
</html>
