<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <title><%= title %></title>
  <link href="/remote.css" rel="stylesheet" />

  <script src="https://cdn.snex.io/snex.0.1.4.min.js"></script>
  <script src="/scripts/remote.js"></script>
</head>
<body data-id="<%= id %>">

  <div id="message">
    <div id="webrtc-support">
      Sorry, this browser does not support WebRTC yet.
    </div>

    <div id="connection-failed">
      Connection failed!<br/>
      <small>Maybe the session has expired.</small>
    </div>
  </div>

  <object
    data="/controllers/<%= type %>.svg"
    type="image/svg+xml"
    id="controller">
  </object>
</body>
</html>
