<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <title><%= title %></title>
  <link href="/remote.css" rel="stylesheet" />

  <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
  <script src="/scripts/remote.js"></script>
</head>
<body
  data-id="<%= id %>"
  data-key="<%= key %>">
  <object
    data="/controllers/<%= controller %>.svg"
    type="image/svg+xml"
    id="controller">
  </object>
</body>
</html>
